.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: var(--border-radius);
    width: 90px;
    transition: all 0.2s;
}

.button-container button:hover {
    cursor: pointer;
    background-color: var(--body-bg);
    border: 1px solid var(--primary);
    color: var(--font-main);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.search {
    padding: 10px;
    width: 330px;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary);
    background-color: var(--body-bg);
    color: var(--font-main);
}

.contacts {
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

@media screen and (max-width: 480px) {
    .contacts {
        gap: 20px;
        padding: 20px;
    }
}